@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-ferrari-black text-white antialiased selection:bg-ferrari-red selection:text-white;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }

  /* Custom Scrollbar for that premium feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #FF2800;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
